langgraph
langchain
langchain-core
langchain-openai
langchain-community
langchain-mcp-adapters
pydantic
psycopg
sqlalchemy
numpy
python-docx
Pillow
rapidocr-onnxruntime
PyMuPDF
rich
fastapi
uvicorn
sse-starlette
prompt_toolkit
beautifulsoup4
playwright
langgraph-checkpoint-postgres
psycopg2
pandas
python-pptx
openpyxl
tabulate
langgraph.checkpoint.sqlite

